/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* content page Style */
.content{
    width: 100%;
    height: 88%;
    background-color: white;
	position:absolute;
	top:12%;
}

/* content page stry end*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
